@charset "UTF-8";
/* CSS Document */


#hero {
	background-color: red;
}

#about-us {
	background-color: red;
}

footer {
	background-color: yellow;
}

#contact {
	text-align: right;
}

.row {
  max-width: 75rem;
}

ul li {
	display: inline;
}

nav ul {
	text-align: right;
}