@charset "UTF-8";
/* CSS Document */

/* ========= TOC ============*/   
 
 /*
--------------------------------1 Typography
--------------------------------------1.1 Body
--------------------------------------1.2 Headings
--------------------------------------1.3 Buttons
--------------------------------2 Navigation Menu
--------------------------------------2.1 Main
--------------------------------4 Structure
--------------------------------------4.1 Site Padding and Margin
--------------------------------------4.2 Site Buttons
--------------------------------------4.3 Site Slider
--------------------------------------4.4 Site Header
--------------------------------------4.5 Site Footer
--------------------------------5 Media
--------------------------------------5.1 Sprites
--------------------------------------5.2 Background Images
--------------------------------6 Utility
--------------------------------------6.1 Colors
--------------------------------------6.2 Floats, Positions, Displays
--------------------------------7 Media Queries
--------------------------------------4.1 Typography
--------------------------------------4.2 Structure
------------------------------------------4.2.1 Padding and Margin
------------------------------------------4.2.2 Header
------------------------------------------4.2.3 Footer
------------------------------------------4.2.4 Positions, Floats, Widths
--------------------------------------5.1 Media


*/

/* ====================== 1 Typography =======================*/

html, body {
	font-family: 'Open Sans', sans-serif;
}

#contact, nav ul {
	text-align: right;
}

/* =============== 1.1 Body ==============*/

p {
	color: #555;
	font-weight: 300;
	line-height: 1.9rem;
}

#hero, #about, footer, footer p, #about p, a, a:hover {
	color: white;
}

#about p, #project h1 span {
	font-size: 1.15rem;
}

.gallery p {
	font-size: 1.1rem;
}

/* =============== 1.2 Headings ==============*/

h1, h2, h3, .hover h2 {
	font-family: "proxima-nova-soft",sans-serif;
}

#project h1, #slider h2, #hero h1, a {
	font-weight: 600;
}

#hero h1 {
    font-size: 5rem;
	line-height: 5.5rem;
}

#hero h1 span {
	display: block;
}

#project h1 {
    font-size: 4.5rem;
	line-height: 4.5rem;
}

#project h1 span {
	text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 500;
	color: #666;
	display: block;
	line-height: 2.25rem;
	margin-bottom: 1.5rem;
}

#project h1, #slider h2, footer a:hover {
	color: #4abfa4;
}

.hover .demo h2 {
	font-size: 5rem;
	padding-top: 17%;
}

footer h3 {
    font-weight: 700;
}

section#slider h2 {
	text-align: center;
}

/* =============== 1.3 Buttons ==============*/

.hover div {
	position: relative;
}

.hover h2 {
	display: none;  
	height:100%;
	width:100%;
	background-color: rgba(254,212,0,0.7);
	position:absolute;
	top:0;
	left:0;
	text-align:center;
	color:white;
	padding-top: 12%;
	margin:0;
	font-weight: 500;
    font-size: 3rem;
}

#for-the-good-thumb h2 {
	padding-top: 14%;
}

#twin-finch-thumb h2 {
	padding-top: 10%;
}

#young-living-thumb h2 {
	padding-top: 7%;
}

#fort-collins-thumb h2 {
    padding-top: 14%;
}

#partee-thumb h2 {
    padding-top: 45%;
}

#campus-commerce-thumb h2 {
	padding-top: 10%;
}

#campus-commerce-demo h2 {
	padding-top: 20%;
}

nav a {
	font-family: "proxima-nova-soft",sans-serif;
	font-size: 1.2rem;
}

footer, h2 {
    font-weight: 500;
}

h2 {
	font-size: 3.5rem;
}

/* ====================== Navigation =======================*/

/* =============== Main ==============*/

ul li {
	display: inline-block;
}

nav.main-nav ul:first-child li {
	margin-right: 3rem;
}

.main-nav ul.float-left a:hover { 
	border: 0;
    border-bottom: 5px solid #4abfa4;
	line-height: 0rem;
}

/* ====================== Structure =======================*/

.row {
  max-width: 75rem;
}

/* =============== Padding and Margin ==============*/

#hero-padding {
	padding-top: 15.9rem; 
}

header.nav {
	padding-top: 1rem;
}

.nav-project-page header img {
	padding-top: .3rem;
}

.nav-project-page nav ul.float-left, #hero nav.main-nav ul.float-left {
	padding-top: .3rem;
}

.gallery, .small-gallery {
	margin-bottom: 2rem;
}

section#work div.gallery:nth-child(2) {
	margin-bottom: .5rem;
}

ul {
	margin-left: 0;
}

#project h1 {
	padding-top: 7%;
}

section#work {
	padding: 6% 0 4% 0;
}

#hero-padding h1:last-child {
	margin-bottom: 4.7rem;
}

p {
	margin-bottom: 2rem;
}

.medium-push-7 {
    padding-left: 5rem;
}

#about h2 {
	margin-bottom: 0;
}


/* =============== Buttons ==============*/

.demo-button {
	background-color: #4abfa4;
    width: 45%;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: .00rem;
    margin-bottom: 4rem;
	margin-top: 3rem;
}

.demo-button a {
	font-weight: 700;
}

/* =============== Slider ==============*/

.slider {
	height: auto;
}

#slider {
	padding: 7% 0 10% 0;
}

/* =============== Header ==============*/



/* =============== Footer ==============*/

footer img, footer p {
	display: inline-block;
}

footer div.medium-6 a {
	display: block;
}

/* ====================== 5 Media =======================*/

/* =============== 5.1 Sprites ==============*/

li.facebook {
	background: url(../img/sprite-facebook.png) no-repeat;
}

li.twitter {
	background: url(../img/sprite-twitter.png) no-repeat;
}

li.instagram {
	background: url(../img/sprite-instagram.png) no-repeat;
}

li.sprite, li.sprite a {
	width: 32px;
    height: 32px;
	margin-right: .5rem;
}

li.sprite:last-child, li.sprite a:last-child {
	margin-right: 0;
}

li.sprite:hover {
    background-position: 0 -32px;
}

li.sprite a {
	display: inline-block;
}

footer ul {
    margin-top: 1rem;
	margin-bottom: 0;
}


/* =============== 5.2 Background Images ===============*/

/* HERO IMAGE */

/* Basic background image styling. */
.background-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Styles for the alternating / transition effect. */
.toggle-image {
 	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
 	height: 588px;
	transition: opacity 1s ease-in-out;
}

/* Styles for the specific images. */
.first-image {
	background-image: url(../img/background-soap.jpg);	
	z-index: -3;
	opacity: 0;
}

.second-image {
	background-image: url(../img/background-steyers.jpg);
	z-index: -2;
	opacity: 0;
}

.third-image {
	background-image: url(../img/background-youngliving.jpg);
	z-index: -1;
	opacity: 0;
}

.first-image.show {
	opacity: 1;
}

.second-image.show {
	opacity: 1;
}

.third-image.show {
	opacity: 1;
}

#svg-one {
	width: 27%;
    float: right;
    margin-top: -20%;
}

#svg-two {
	width: 26%;
    margin-bottom: -45rem;
}

#svg-three {
	width: 27%;
    float: right;
    margin-top: -45%;
}

.about-img {
	position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    background-color: orange;
    /* background: url(https://lh3.googleusercontent.com/-6psYQKeBTVU/VCxVNQ4CLOI/AAAAAAAAACQ/o8Kp40F7vMApyvoH9loCouijDT4s41R3wCKgB/w140-h140-p/Erickson_Holly.jpg) no-repeat; */
    border: 7px solid white;
}

/* ====================== Utility =======================*/

/* =============== Colors ==============*/

#hero {
	background-color: rgba(254,212,0,0.7);
	height: 588px;
}

.nav-project-page {
	background-color: rgba(254,212,0,0.7);
}

#about {
	background-color: #4abfa4;
	padding: 6% 0;
}

footer {
	background-color: rgba(254,212,2,0.8);;
	padding: 2% 0 6% 0;
}

/* =============== Floats, Positions, Displays ==============*/










/* ====================== Media Queries (From Foundation 6 Docs) =======================*/

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium Landscape Orientation */
@media screen and (min-width: 40em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ====================== SMALL SCREEN - Small only - 640 ======================*/

@media screen and (max-width: 39.9375em) {

	 /* ======================= Typography ======================*/
   
   footer div.small-5 p {
		font-size: .75rem;
		font-weight: 600;
	}
	
	#hero-padding h1 {
		font-size: 4.5rem;
		line-height: 4.5rem;
	}
	
	h2.show-for-small-only {
		font-size: 3rem;
		font-family: "proxima-nova-soft",sans-serif;
		color: #4abfa4;
		padding-top: 1rem;
		line-height: 3rem;
	}
	
	h2.show-for-small-only span {
		display: block;
		color: #666;
		text-transform: uppercase;
		font-size: 1rem;
		line-height: 1.3rem;
		padding-bottom: .5rem;
	}
	
	#project h1 {
	    font-size: 3.25rem;
		line-height: 3.2rem;
		padding-top: 5rem;
	}
	
	#project h1 span {
		line-height: 2.5rem;
		font-size: 1rem;
	}
	
	#slider h2 {
		font-size: 2rem;
	}
	
	#project header#young-living h1 {
		letter-spacing: -.06rem;
	}
	
	footer h3 {
		font-size: 1.6rem;
		line-height: 1.9rem;
	}
	
	#about h2 {
		font-size: 3rem;
    	font-weight: 500;
	}
   
    .gallery p {
		font-size: 1.1rem;
		line-height: 2.1rem;
	}
	
	.demo-button a {
		font-size: .8rem;
	}
   
   	/* ======================= Structure =======================*/

	
	#hero, .toggle-image {
 		height: 545px;
	}
	
	.partee img {
		margin: 0 auto;
		display: block;
	}

	
	/* =============== Padding and Margin ==============*/
   
	
	.small-gallery-small {
		margin-bottom: 2rem;
	}   
	
	#hero-padding {
		padding-top: 8rem;
	}
	
	nav.main-nav ul:first-child li {
		margin-right: 2rem;
	}
	
	nav.main-nav ul:first-child li:last-child {
		margin-right: 0;
	}
	
	#work div.hover {
		margin-bottom: 3rem;
	}
	
	#slider {
		padding-top: 10%;
		padding-bottom: 25%;
	}
	
	.medium-push-7 {
		padding-left: 7rem;
		margin-bottom: 2rem;
	}
	
	#about {
		padding: 17% 0;
	}
	
	footer div.small-5 {
		padding-right: 0;
	}
	
	footer div.small-7 {
		padding-left: 0;
	}
   
   	/* =============== Header ==============*/
    

	
	/* =============== Footer ==============*/
	
	footer {
		padding-bottom: 45%;
		padding-top: 5%;
	}
	footer div.medium-6 > img {
		width: 10%;
	}
	
	/* =============== Positions, Floats, Widths ==============*/
	
	
	
	/* ======================= Media =======================*/

		
	
	}
	

/* ==================== Medium Landscape Orientation ================== */

@media screen and (min-width: 40em) and (orientation: landscape) {
	nav.main-nav ul:first-child li:first-child {
		margin-right: 2rem;
		margin-left: 1rem;
	}
	
	nav.main-nav ul li:last-child {
		margin-right: 0;
	}
	
	nav.main-nav ul.hide-for-small-only {
		padding-right: 0;
	}
}



/* ====================== 826 ======================*/
	
@media only screen and (max-width: 826px) {
	
	#fort-collins-thumb h2 {
		padding-top: 2%;
	}
}

/* ====================== 966 ======================*/
	
@media only screen and (max-width: 966px) {
	#hero-padding h1:last-child {
		margin-bottom: 4rem;
	}
	
	#twin-finch-thumb h2 {
		padding-top: 4%;
	}
	
}
	
	
	
/* ====================== MEDIUM SCREEN 1023 ======================*/

@media only screen and (min-width: 40em)  { 

 	/* ======================= Typography ======================*/
   
   	/*h2.hide-for-small-only {
		font-size: 2.5rem;
	}*/
   
   	/* ======================= Structure =======================*/
   
   #hero-padding {
		padding-top: 15.15rem;
	}

   
   	/* =============== Header ==============*/
    

	
	/* =============== Footer ==============*/
	
	
	/* =============== Positions, Floats, Widths ==============*/
	
	.medium-push-7 {
		padding-left: 2rem;
	}
	
	/* ======================= Media =======================*/
	
	.hover span {
	display: block;
	font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
	}
	
	.hover div:hover > h2 {
		display:block;
	}
	
	.hover img{
		display: block;
		width: 100%;
	}

	/* HOVER STATES FOR CONTENT */

	.hoverParent {
	  	position: relative;
	  	float:left;
	}
	
	.hoverContent {
	  	display: none;
	}
	
	.hoverParent:hover .hoverContent {
	  	background-color: rgba(254,212,2,0.85);
	  	text-align: center;
	  	color: white;
	  	width: 100%;
	  	height: 100%;
	  	position: absolute;
	  	top: 0;
	  	left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

}
