@charset "UTF-8";
/* CSS Document */

/* ========= TOC ============*/   
 
 /*
--------------------------------1 Typography
--------------------------------------1.1 Body
--------------------------------------1.2 Headings
--------------------------------------1.3 Buttons
--------------------------------------1.4 Forms
--------------------------------2 Navigation Menu
--------------------------------------2.1 Main
--------------------------------4 Structure
--------------------------------------4.1 Site Padding and Margin
--------------------------------------4.2 Site Buttons
--------------------------------------4.3 Site Slider
--------------------------------------4.4 Site Header
--------------------------------------4.5 Site Footer
--------------------------------5 Media
--------------------------------------5.1 Sprites
--------------------------------------5.2 Background Images
--------------------------------6 Utility
--------------------------------------6.1 Colors
--------------------------------------6.2 Floats, Positions, Displays
--------------------------------7 Media Queries
--------------------------------------4.1 Typography
--------------------------------------4.2 Structure
------------------------------------------4.2.1 Padding and Margin
------------------------------------------4.2.2 Header
------------------------------------------4.2.3 Footer
------------------------------------------4.2.4 Positions, Floats, Widths
--------------------------------------5.1 Media


*/

/* ====================== 1 Typography =======================*/

html, body {
	font-family: 'Open Sans', sans-serif;
}

/* =============== 1.1 Body ==============*/

#contact {
	text-align: right;
}

#about {
	color: white;
}

p {
	color: #555;
}

footer, footer p, #about p {
	color: white;
}

#hero {
	color: white;
}

.gallery p, #about p {
	font-size: 1.15rem;
}

/* =============== 1.2 Headings ==============*/

section#slider h2 {
	text-align: center;
}

h1, h2, h3 {
	font-family: "proxima-nova-soft",sans-serif;
}

#hero h1 {
    font-weight: 600;
    font-size: 5rem;
	line-height: 5.5rem;
}

#project h1 {
	font-weight: 600;
    font-size: 4.5rem;
	line-height: 4.5rem;
}

#project header p {
	text-transform: uppercase;
    font-size: 1.15rem;
    letter-spacing: .2rem;
    font-weight: 500;
}

#project h1 {
	color: #19d7ae;
}

#slider h2 {
	color: #19d7ae;
	font-weight: 600;
}

.hover .demo h2 {
	font-size: 5rem;
	padding-top: 17%;
}

footer h3 {
    font-weight: 700;
}


/* =============== 1.3 Buttons ==============*/

.hover div {
	position:relative;
}

.hover h2 {
	display: none;  
	height:100%;
	width:100%;
	background-color: rgba(254,212,2,0.9);
	position:absolute;
	top:0;
	left:0;
	text-align:center;
	color:white;
	padding-top: 12%;
	margin:0;
	font-family: "proxima-nova-soft",sans-serif;
	font-weight: 500;
    font-size: 3rem;
}

#for-the-good-thumb h2 {
	padding-top: 14%;
}

#twin-finch-thumb h2 {
	padding-top: 10%;
}

#young-living-thumb h2 {
	padding-top: 7%;
}

#fort-collins-thumb h2 {
    padding-top: 10%;
}

#partee-thumb h2 {
    padding-top: 45%;
}

#campus-commerce-thumb h2 {
	padding-top: 10%;
}

#campus-commerce-demo h2 {
	padding-top: 20%;
}

.hover span {
	display: block;
	font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.hover div:hover > h2 {
	display:block;
}

.hover img{
	display: block;
	width:100%;
}

a {
	color: white;
	font-weight: 600;
}

a:hover {
	color: #19d7ae;
}

nav a {
	font-family: "proxima-nova-soft",sans-serif;
	font-size: 1.2rem;
}

.nav-project-page a {
	color: #19d7ae;
}


footer {
    font-weight: 500;
}

/* =============== 1.4 Forms ==============*/



/* ====================== Navigation =======================*/

/* =============== Main ==============*/

ul li {
	display: inline-block;
}

nav ul {
	text-align: right;
}

nav.main-nav ul:first-child li {
	margin-right: 3rem; /* fix this on media queries */
}

#borderimg:hover { 
    border-bottom: 10px solid transparent;
	border-top:0;
	border-right:0;
	border-left:0;
    padding: 15px;
    border-image: url(../img/underline.svg) 30 stretch;
}

/* FIGURE OUT THE HOVER UNDERLINE nav ul a:hover {
	border-bottom: 4px solid #19d7ae;
	padding-bottom: .1rem;
	border-bottom-left-radius: 2rem;
	background: transparent;
  	border-radius: 10px;
  	height: 10px;
  	width: 255px;
  	box-shadow: 0 55px 0 0 #19d7ae;
}*/


/* ====================== Structure =======================*/

.row {
  max-width: 75rem;
}

/* =============== Padding and Margin ==============*/

#hero-padding {
	padding-top: 15.9rem; /* remove? */
}

header.nav {
	padding-top: 2rem;
}

.gallery, .small-gallery {
	margin-bottom: 2rem;
}

ul {
	margin-left: 0;
}

#project h1 {
	padding-top: 7%;
}

section#work {
	padding-top: 6%;
	padding-bottom: 4%;
}

#hero-padding h1:last-child {
	margin-bottom: 4rem;
}

/*#project div.row div.small-12.columns {
    padding: 0;
}*/


/* =============== Buttons ==============*/

.demo-button {
	background: url(../img/button.png) no-repeat;
}

.demo-button, .demo-button a {
	width: 150px;
    height: 50px;
}

.demo-button a {
	display: inline-block;
}

.demo-button:hover {
    background-position: 0 -50px;
}


/* =============== Slider ==============*/

.slider {
	height: auto;
}

#slider {
	padding-top: 3%;
	padding-bottom: 7%;
}

/* =============== Header ==============*/



/* =============== Footer ==============*/

footer {
	height: 160px;
}

footer img, footer p {
	display: inline-block;
}

footer div.medium-6 a {
	display: block;
}
/* ====================== 5 Media =======================*/



/* =============== 5.1 Sprites ==============*/

li.facebook {
	background: url(../img/sprite-facebook.png) no-repeat;
}

li.twitter {
	background: url(../img/sprite-twitter.png) no-repeat;
}

li.instagram {
	background: url(../img/sprite-instagram.png) no-repeat;
}

.nav-project-page li.facebook {
	background: url(../img/sprite-green-facebook.png) no-repeat;
}

.nav-project-page li.twitter {
	background: url(../img/sprite-green-twitter.png) no-repeat;
}

.nav-project-page li.instagram {
	background: url(../img/sprite-green-instagram.png) no-repeat;
}

/*li.sprite {
    background-position: 0 0;
    margin: 0 26px 0 0;
	display: inline;
}*/

li.sprite, li.sprite a {
	width: 32px;
    height: 32px;
	margin-right: .5rem;
}

li.sprite:last-child, li.sprite a:last-child {
	margin-right: 0;
}

li.sprite:hover {
    background-position: 0 -32px;
}

li.sprite a {
	display: inline-block;
}

footer ul {
    margin-top: 1rem;
}


/* =============== 5.2 Background Images ===============*/

/* HERO IMAGE */

/* Basic background image styling. */
.background-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Styles for the alternating / transition effect. */
.toggle-image {
 	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
 	height: 588px;
	transition: opacity 1s ease-in-out;
}

/* Styles for the specific images. */
.first-image {
	background-image: url(../img/background-soap.jpg);	
	z-index: -3;
	opacity: 0;
}

.second-image {
	background-image: url(../img/background-steyers.jpg);
	z-index: -2;
	opacity: 0;
}

.third-image {
	background-image: url(../img/background-youngliving.jpg);
	z-index: -1;
	opacity: 0;
}

.first-image.show {
	opacity: 1;
}

.second-image.show {
	opacity: 1;
}

.third-image.show {
	opacity: 1;
}

#svg-one {
	width: 27%;
    float: right;
    margin-top: -20%;
}

#svg-two {
	width: 26%;
    margin-bottom: -45rem;
}

#svg-three {
	width: 27%;
    float: right;
    margin-top: -38%;
}

/* CIRCLE CSS TO DELETE 

.circle {
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	background-color: black;
}

#circle-one {
	position: absolute;
    top: 160px;
    left: 1040px;
    width: 500px;
    height: 500px;
    background: rgba(25, 183, 141, 0.5);
	z-index: 20;
	background: rgba(25, 183, 141, 0.5) 50% 0 scroll repeat-y
}

#circle-two {
    position: absolute;
    top: 670px;
    left: -120px;
    width: 500px;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
}*/


/* ====================== Utility =======================*/

/* =============== Colors ==============*/

#hero {
	background-color: rgba(254,212,2,0.9);
}

#about {
	background-color: #19d7ae;
	padding: 6% 0;
}

footer {
	background-color: #fed402;
	padding-bottom: 13%;
	padding-top: 2%;
}

/* =============== Floats, Positions, Displays ==============*/



/* ====================== Media Queries =======================*/

/* ====================== SMALL SCREEN ======================*/

@media screen and (max-width: 39.9375em) {

	 /* ======================= Typography ======================*/
   
	footer{
		text-align: center;		
	}   
   
	#contact {
		text-align: inherit;
	}
   
   	/* ======================= Structure =======================*/
	
	.toggle-image {
 		height: 439px;
	}
	
	/* =============== Padding and Margin ==============*/
   
	
	.small-gallery-small {
		margin-bottom: 2rem;
	}   
	
	#hero-padding {
		padding-top: 284px;
	}
   
   	/* =============== Header ==============*/
    

	
	/* =============== Footer ==============*/
	
	
	
	/* =============== Positions, Floats, Widths ==============*/
	
	
	
	/* ======================= Media =======================*/

		
	
	}
	

	
	
/* ====================== MEDIUM SCREEN ======================*/

@media only screen and (min-width: 40.063em) { 

 	/* ======================= Typography ======================*/
   
   
   	/* ======================= Structure =======================*/
   
   	/* =============== Header ==============*/
    

	
	/* =============== Footer ==============*/
	
	
	
	/* =============== Positions, Floats, Widths ==============*/
	
	
	
	/* ======================= Media =======================*/
	

	/* HOVER STATES FOR CONTENT */

	.hoverParent {
	  	position: relative;
	  	float:left;
	}
	
	.hoverContent {
	  	display: none;
	}
	
	.hoverParent:hover .hoverContent {
	  	background-color: rgba(254,212,2,0.9);
	  	text-align: center;
	  	color: white;
	  	width: 100%;
	  	height: 100%;
	  	position: absolute;
	  	top: 0;
	  	left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}


}	