@charset "UTF-8";
/* CSS Document */

/* Table of Contents

--------------------------------1 Typography
--------------------------------------2.1 Body
--------------------------------------2.2 Headings
--------------------------------------2.3 Buttons
--------------------------------3 Navigation Menu
--------------------------------------3.1 Main
--------------------------------------3.2 Footer
--------------------------------4 Structure
--------------------------------------4.1 Site Content
--------------------------------------4.2 Site Form
--------------------------------------4.3 Site Header
--------------------------------------4.4 Site Footer
--------------------------------5 Media
--------------------------------------5.1 Sprites
--------------------------------------5.2 Background Images
--------------------------------6 Utility
--------------------------------------6.1 Colors
--------------------------------------6.1 Floats, Positions, Displays


/*---------------------------------TYPOGRAPHY----------------------------------*/


/*--------------------Body---------------------*/

p, header p, nav a, address {
	font-weight: 100;
}

html {
	font-size: 15px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

p {
	color: #999;
    line-height: 1.5rem;
}

header p {
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
}

header div#hero {
	text-align: center;
}

form {
	color: white;
}

footer, footer a {
	color: white;
	text-decoration: none;
}

address {
	font-style: normal;
	text-align: center;
}

span {
	font-size: 2rem;
	font-weight: 700;
}

/*--------------------Headings---------------------*/

h1 {
    font-size: 5.5rem;
    text-transform: uppercase;
    color: white;
    line-height: 5.5rem;
	margin: 0 0 30px 0;
}

h2 {
	font-size: 2.75rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	color: #49af99;
	margin: 0;
	padding-bottom: 5px;
}

#bg-about-us h2, #bg-about-us h3, #bg-about-us p, #bg-teal h2 {
	color: white;
}

h3 {
	font-size: 1.5rem;
	font-weight: 200;
	margin-top: 0;
	color: #49af99;
}

.col-1-4 h3 {
	margin-bottom: 0;
}

#bg-about-us h3 {
	font-weight: 600;
    margin-bottom: 10px;
}

section#bg-teal h3 {
	color: white;
	font-weight: 500;
}

section#bg-teal header:nth-child(3) h3 {
	margin-top: 40px;
}

dd {
    color: white;
    font-weight: 100;
    margin: 0 0 20px 0;
}

dt {
    color: white;
    font-weight: 400;
	font-size: 1.25rem;
}

dd div {
	font-size: 1.25rem;
    font-weight: 100;
    line-height: 1.5rem;
}

dl {
	position: relative;
	padding-left: 60px;
}

dd div {
	position: absolute;
	top: 0;
	left: 0;
}

.ebill h3, .ebill a {
	color: #37945d;
}

.managed-plans h3, .managed-plans a {
	color: #bc61b4;
}

.student-choice h3, .student-choice a {
	color: #457cbc;
}

.estore h3, .estore a {
	color: #e28175;
}

.cashier h3, .cashier a {
	color: #c98836;
}

.hosted h3, .hosted a {
	color: #49af99;
}

.sponsored h3, .sponsored a {
	color: #bc455d;
}

.refunds h3, .refunds a {
	color: #7d66d3;
}

/*--------------------Buttons---------------------*/

.btn {
	background-color: white;
	border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border: 3px solid white;
    padding: 10px 40px;
    color: #49af99;
    text-transform: uppercase;
    font-weight: 100;
	text-decoration: none;
}

a.btn:hover {
	background-color: #49af99;
    color: white;
}

/*---------------------------------NAVIGATION----------------------------------*/

ul li {
	display: inline-block;
}

nav {
	text-align: right;
}

/*--------------------Main---------------------*/

nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}



/*--------------------Footer---------------------*/

ul {
	text-align: right;
}

footer li {
    padding-left: 20px;
}

footer li a {
	font-weight: 100;
}

footer li a:hover {
	text-decoration: underline;
}


/*---------------------------------STRUCTURE----------------------------------*/


/*--------------------Content---------------------*/

.col-1-4 img, .col-1-4 header {
	display: inline-block;
}

header#hero div.row p.col-2-3.center-block {
	padding-bottom: 50px;
}

div.col-3-5 {
	padding-bottom: 5px;
}

section {
    padding: 70px 0 70px 0;
}

section.wrapper div.row {
	margin-bottom: 50px;
}

#bg-about-us div.wrapper div.row {
	padding-bottom: 30px;
}

section#bg-teal ul {
	text-align: left;
	padding: 0;
}

/*--------------------Form---------------------*/

label, input, textarea {
	display: block;
}

input, textarea {
	width: 100%;
    border-radius: 20px;
    border: none;
    height: 40px;
}

textarea {
	height: 120px;
}

input[type="submit"] {
    width: 30%;
    text-transform: uppercase;
    background-color: white;
    color: #49af99;
	height: 40px;
}

input[type="submit"]:hover {
    background-color: #49af99;
    color: white;
	border: 1px solid #49af99;
}

form {
	padding-left: 100px;
}

label {
	margin-bottom: 15px;
}

input {
	margin-bottom: 20px;
	margin-top: 5px;
}

textarea {
	margin-top: 5px;
}



/*--------------------Header---------------------*/

header nav ul li a {
	padding-left: 30px;
}

header div#hero {
	padding: 220px 0 120px 0;
}

header div#hero div.wrapper div.row {
	padding-bottom: 40px;
}

figure.col-2-5 {
    padding: 8px 0 0 0;
}

/*--------------------Footer---------------------*/

footer figure.col-1-3, footer div.col-1-3 {
	padding: 10px 0 10px 0;
}

address.col-1-3 {
    padding-top: 20px;
}

footer figure.col-1-3:first-child {
	padding-top: 25px;
}

/*---------------------------------MEDIA----------------------------------*/


/*--------------------Sprites---------------------*/

section#bg-teal div.col-1-2 ul li:first-child {
	background: url(../img/fb-sprite.png) no-repeat;
}

section#bg-teal div.col-1-2 ul li:nth-child(2) {
	background: url(../img/twitter-sprite.png) no-repeat;
}

section#bg-teal div.col-1-2 ul li:last-child {
	background: url(../img/google-sprite.png) no-repeat;
}

section#bg-teal div.col-1-2 ul li {
	width: 48px;
    height: 48px;
    background-position: 0 0;
    margin: 0 20px 0 0;
}

section#bg-teal div.col-1-2 ul li:hover {
    background-position: 0 -48px;
}

section#bg-teal div.col-1-2 ul li a {
	width: 48px;
    height: 48px;
	display: inline-block;
}

/*--------------------Background Images---------------------*/

#hero {
	background: url(../img/hero.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	position: relative;
}

#bg-about-us {
	background: url(../img/bg-about-us.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	position: relative;
}

/*---------------------------------UTILITY----------------------------------*/


/*--------------------Colors---------------------*/

#bg-teal {
	background-color: #49af99;
}

#bg-nav {
	background-color: rgba(73,175,153,.6);
	position: fixed;
	width: 100%;
	z-index: 2;
}

#bg-dark-gray {
	background-color: #666;
}

/*--------------------Floats & Positions---------------------*/

.center-block {
	margin: 0 auto;
	float: none !important;
	text-align: center;
}

dl dd:nth-child(4) div {
	top: 67px;
}


dl dd:nth-child(6) div {
	top: 131px;
}

#bg-teal div.col-1-2:last-child {
	padding-left: 50px;
}



.gray-rule {
	border-top: 1px solid #666;
	width: 12%;
    margin: 0 auto;
    padding-bottom: 70px;
}

.white-rule {
	border-top: 1px solid white;
	width: 12%;
    margin: 0 auto;
    padding-bottom: 70px;
}






*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border;
	box-sizing: border-box;
}

.wrapper {
	width: 80%; /*original width was 1170px*/
	margin: 0 auto;
}

.row:after {
	content: " ";
	display: table;
	clear: both;
}

img {
	max-width: 100%;
}

figure {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

[class*="col-"] {
	float: left;
	padding: 0 20px 20px 0;
}

[class*="col-"]:last-of-type {
	float: left;
	padding-right: 0;
}

/* ====== take out for services icons 
[class*="col-"] div {
	height: 300px;
}
=======*/

/*---------------SINGLE COLUMNS--------------*/

.col-1 {
	width: 100%;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-1-4 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-1-6 {
	width: 16.66%;
}

.col-1-7 {
	width: 14.28%
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%;
}

/*---------------PARTIAL COLUMNS--------------*/

.col-2-3 {
	width: 66.66%;
}

.col-3-4 {
	width: 75%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-2-6 {
	width: 16.66%;
}

.col-4-6 {
	width: 83.33%;
}

.col-3-7 {
	width: 14.28%;
}

.col-4-7 {
	width: 85.7%;
}

.col-3-8 {
	width: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

.col-3-9 {
	width: 11.11%;
}

.col-6-9 {
	width: 88.88%; 
}

.col-4-10 {
	width: 40%;
}

.col-6-10 {
	width: 60%;
}

.col-9-11 {
	width: 81.81%;
}

.col-2-11 {
	width: 18.18%;
}

.col-3-12 {
	width: 8.33%;
}

.col-9-12 {
	width: 91.67%;
}

/*---------------DIV COLORS SINGLE COLUMNS--------------*/

.col-1 div {
	background-color: red;
}

.col-1-3 div {
	background-color: purple;
}

.col-1-5 div {
	background-color: yellow;
}

.col-1-6 div {
	background-color: green;
}

.col-1-7 div {
	background-color: teal;
}

.col-1-8 div {
	background-color: maroon;
}

.col-1-9 div {
	background-color: aqua;
}

.col-1-10 div {
	background-color: lightgreen;
}

.col-1-11 div {
	background-color: darkseagreen;
}

.col-1-12 div {
	background-color: slategrey;
}

/*---------------DIV COLORS PARTIAL COLUMNS--------------*/


.col-2-3 div {
	background-color: green;
}

.col-3-4 div {
	background-color: green;
}

.col-2-5 div {
	background-color: darkviolet;
}

.col-3-5 div {
	background-color: darkviolet;
}

.col-2-6 div {
	background-color: ivory;
}

.col-4-6 div {
	background-color: ivory;
}

.col-3-7 div {
	background-color: olivedrab;
}

.col-4-7 div {
	background-color: olivedrab;
}

.col-3-8 div {
	background-color: darkkhaki;
}

.col-5-8 div {
	background-color: darkkhaki;
}

.col-6-9 div {
	background-color: indianred;
}

.col-3-9 div {
	background-color: indianred;
}

.col-4-10 div {
	background-color: palegoldenrod;
}

.col-6-10 div {
	background-color: palegoldenrod;
}

.col-9-11 div {
	background-color: tomato;
}

.col-2-11 div {
	background-color: tomato;
}

.col-3-12 div {
	background-color: lightsalmon;
}

.col-9-12 div {
	background-color: lightsalmon;
}

/*---------------MEDIA QUERIES--------------*/


@media screen and (max-width: 480px) {
	.wrapper {
		width: 96%;
	}
	
	.col-1-3, .col-2-3, .col-3-4, .col-1-4, .col-1-5, .col-1-6, .col-1-7, .col-1-8, .col-1-9, .col-1-10, .col-1-11, .col-1-12 {
		width: 100%;
		padding: 0 0 20px 0;
	}

	h1 {
	    font-size: 5rem;
	}
	
	h3 {
		font-size: 2rem;
		margin-bottom: 10px;
	}

	div#services, #bg-about-us, section.wrapper {
		text-align: center;
	}
	
	div#services img {
    	display: block;
    	margin: 0 auto;
		padding-bottom: 20px;
	}

	p {
		font-size: 1.25rem;
		line-height: 1.75rem;
		margin-top: 10px;
	}
	
	div#services a {
		font-size: 1.25rem;
		padding-bottome: 10px;		
	}
	
	section#bg-teal div.col-1-2 {
		float: none;
		width: 90%
	}
	
	form {
		padding-left: 50px;
	}
	
	section#bg-teal div.col-1-2 header {
		text-align: center;
	}
	
	section.col-1-4 {
		padding-bottom: 100px;
	}
	
	section.wrapper {
		padding: 70px 0 0 0;
	}

	.mb-zero {
		margin-bottom: 0; 
	}
	
	section#bg-teal ul {
		text-align: center;
	}
	
	footer figure {
		text-align: center;
	}
	
	footer div.col-1-3 ul {
		text-align: center;
	}
}


