@charset "UTF-8";
/* CSS Document */

/* Table of Contents  

--------------------------------1 Typography
--------------------------------------1.1 Body
--------------------------------------1.2 Headings
--------------------------------------1.3 Buttons
--------------------------------------1.4 Forms (Typography & Structure)
--------------------------------3 Navigation Menu
--------------------------------------3.1 Main
--------------------------------4 Structure
--------------------------------------4.1 Site Content
--------------------------------------4.3 Site Header
--------------------------------------4.4 Site Footer
--------------------------------5 Media
--------------------------------------5.1 Sprites
--------------------------------------5.2 Background Images
--------------------------------6 Utility
--------------------------------------6.1 Colors
--------------------------------------6.2 Floats, Positions, Displays
--------------------------------------6.3 Single Column
--------------------------------------6.4 Partial Column
--------------------------------7 Media Querie
--------------------------------------7.1 Typography
--------------------------------------7.2 Structure 


*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

/*---------------------------TYPOGRAPHY---------------------------*/

/*--------------------Body---------------------*/

html {
	font-size: 16px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

section#roasts section.col-1-2, .center-text, blockquote, h2, .center-block {
    text-align: center;	
}

p, .price {
    font-weight: 300;
}

section#roasts div#product-callout p, .price, h2, #roasts h3, #other h3, nav ul li a:hover, footer a:hover, blockquote a:hover {
    color: #c1601f;
}

section#roasts div#product-callout p, h1 {
	font-weight: 400;
}

section#roasts div#product-callout p, .btn, input[type="submit"] {
    text-transform: uppercase;	
}

blockquote, h1, footer h4, .btn:hover, input[type="submit"]:hover, header a.btn, footer address a, footer input[type="submit"], footer input[type="submit"]:hover, nav ul li a, footer ul li, footer ul li a, footer form label, blockquote a {
	color: white;
}

p {
    color: #555;
}

section#roasts div#product-callout p {
    font-size: .8rem;
}

blockquote {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 100;
    line-height: 40px;
    padding: 40px 10px 0;
}

/*--------------------Headings---------------------*/

h1 {
    font-size: 1.75rem;
	margin-bottom: 32px;
}

h2 {
	font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
	padding: 20px 0 10px 0;
}

h3 {
	font-size: 1.5rem;
}

footer h4 {
    font-weight: 600;
    margin: 0 0 10px 0;
}

.roast {
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 1.05rem;
}


/*--------------------Buttons---------------------*/

footer ul li, footer ul li a, .btn, input[type="submit"], footer address a {
	text-decoration: none;
}

.btn, input[type="submit"], footer address a, footer ul li a {
	font-weight: 100;
}

.btn, input[type="submit"] {
	border: 1px solid black;
    padding: 5px 40px;
    color: black;
}

.btn:hover, input[type="submit"]:hover {
	border: 1px solid #c1601f;
	background-color: #c1601f;
}	

header a.btn {
	border: 1px solid white;
}

footer address a {
    font-style: normal;
}

footer address a, footer ul li a, footer input[type="submit"] {
	font-size: .8rem;
}

/*--------------------Forms---------------------*/

footer input[type="submit"] {
    border: 1px solid white;
    background-color: black;
}

input[type="email"], input[type=text] {
	width: 90%;	
}

input[type=text], #connect input[type=email], textarea, .btn, input[type="submit"] {
    background-color: transparent;
}

input[type=text], #connect input[type=email] {
    border: none;
    border-bottom: 1px solid #c1601f;
	margin-bottom: 25px;
}

textarea {
	border: 1px solid #c1601f;
	margin-bottom: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 90%;
}

#connect label {
	display: none;
}

#connect form {
	text-align: right;
	margin-top: 20px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #c1601f;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #c1601f;
   	opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #c1601f;
   	opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c1601f;
}

footer form label {
	font-weight: 600;
}

/*---------------------------NAV---------------------------*/

/*--------------------Main---------------------*/

nav li, li {
	display: inline-block;
}

nav {
	text-align: right;
}

nav ul li a {
    text-decoration: none;
    font-weight: 100;
}

nav ul li a:hover {
    font-weight: 200;
}

nav ul li {
    padding-left: 30px;
}

/*---------------------------STRUCTURE---------------------------*/

/*--------------------Content---------------------*/

p, blockquote, h2, footer ul {
	margin: 0;
}

section#roasts section.col-1-2 {
    padding: 0px 60px;
}

.price {
    padding: 10px 0;
}

.country {
    padding-top: 10px;
}

section {
    padding-top: 30px;
}

section.call-out {
	padding: 40px 0;
}

div.call-out div.wrapper {
	padding-bottom: 45px;
}

section.roasts div.row:nth-child(2) section.col-1-2 h3 {
    padding-top: 34px;
}

#roasts div.col-2-5 {
    padding: 0;
}

#product-callout {
   padding:20px 0; 
   border: 1px solid #c1601f;
}

#other, #other div.col-2-3 {
	padding-top: 60px;
}

#roasts p.col-3-5 {
	padding-bottom: 60px;
}

#espresso {
	padding-bottom: 34px;
}

#roasts div.row section.col-1-2:last-child {
	padding-top: 20px;
}

#roasts div.row section.col-1-2:last-child img{
	padding-bottom: 46px;
}

#house-blend {
	padding-bottom: 21px;
}

#product-callout-row {
	padding: 0 60px;
}

.rule {
	border-top: 1px solid #c1601f;
    width: 270px;
    margin: 0 auto;
    padding-bottom: 19px;
}

/*--------------------Header---------------------*/

#connect div.col-1-2:last-child header {
	padding-left: 50px;
}

#roasts h3, #other h3 {
	margin-bottom: 10px;
}

header#hero div.wrapper div.row {
    padding: 20px 0;
}

header div.col-2-3 {
    padding: 100px 0 90px 0;
}

header#hero div.rule {
    padding-bottom: 35px;
}


/*--------------------Footer---------------------*/

footer div.row {
    padding: 30px 0 30px 0;
}

footer ul {
	padding: 0;
}

footer ul li {
	display: block;
}

footer form input {
	margin: 10px 0 10px 0;
}

/*---------------------------MEDIA---------------------------*/

/*--------------------Sprites---------------------*/

section#connect ul li:first-child {
	background: url(../img/icon-facebook.png) no-repeat;
}

section#connect ul li:nth-child(2) {
	background: url(../img/icon-twitter.png) no-repeat;
}

section#connect ul li:last-child {
	background: url(../img/icon-googleplus.png) no-repeat;
}

section#connect ul li:hover {
	background-position: 0 -48px;
}

section#connect ul li a {
	width: 48px;
    height: 48px;
	display: inline-block;
}

/*--------------------Background Images---------------------*/

#hero {
	background: url(../img/hero.jpg) no-repeat center center; 
}

.call-out {
	background: url(../img/call-out.jpg) no-repeat center center; 
}

#hero, .call-out {
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	position: relative;
}

#map {
	width: 100%;
	height: 275px;
}

/*---------------------------UTILITY---------------------------*/

/*--------------------Colors---------------------*/

.bg-black {
	background-color: black;
}

/*--------------------Floats & Positions---------------------*/

.center-block {
	margin: 0 auto;
	float: none !important;
}

.wrapper {
	width: 80%; /*original width was 1170px*/
	margin: 0 auto;
	padding-bottom: 80px;
}

.row:after {
	content: " ";
	display: table;
	clear: both;
}

img {
	max-width: 100%;
}

figure {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

[class*="col-"] {
	float: left;
	padding: 0 20px 20px 0;
}

[class*="col-"]:last-of-type {
	float: left;
	padding-right: 0;
}

section.roasts div.col-2-5 {
    float: none !important;
    margin: 0 auto;
}


/*---------------SINGLE COLUMNS--------------*/

.col-1 {
	width: 100%;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-1-4 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-1-6 {
	width: 16.66%;
}

.col-1-7 {
	width: 14.28%
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%;
}

/*---------------PARTIAL COLUMNS--------------*/

.col-2-3 {
	width: 66.66%;
}

.col-3-4 {
	width: 75%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-2-6 {
	width: 16.66%;
}

.col-4-6 {
	width: 83.33%;
}

.col-3-7 {
	width: 14.28%;
}

.col-4-7 {
	width: 85.7%;
}

.col-3-8 {
	width: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

.col-3-9 {
	width: 11.11%;
}

.col-6-9 {
	width: 88.88%; 
}

.col-4-10 {
	width: 40%;
}

.col-6-10 {
	width: 60%;
}

.col-9-11 {
	width: 81.81%;
}

.col-2-11 {
	width: 18.18%;
}

.col-3-12 {
	width: 8.33%;
}

.col-9-12 {
	width: 91.67%;
}



/*---------------MEDIA QUERIES--------------*/


@media screen and (max-width: 480px) {

/*---------------Typography--------------*/

	footer, #connect, #connect form {
		text-align: center;
	}

/*---------------Struture--------------*/
	
	.wrapper {
		width: 98%;
	}
	
	.col-1-2, .col-1-3, .col-2-3, .col-3-4, .col-1-4, .col-1-5, .col-1-6, .col-1-7, .col-1-8, .col-1-9, .col-1-10, .col-1-11, .col-1-12 {
		width: 100%;
		padding: 0 0 20px 0;
	}
	
	footer .col-1-4 {
		margin-bottom: 20px;
	}
	
	footer div.wrapper {
		padding-bottom: 20px;
	}
	
	header#hero div.wrapper div.row {
    	padding: 20px 20px;
	}
	
	.col-3-5 {
		width: 95%;
	}
	
	nav.col-3-5 {
		width: 50%;
	}
	
	#roasts section {
		margin-bottom: 70px;
	}
	
	#roasts #other div.col-2-3.center-block {
		padding-top: 0;
	}
	
	#nav-right, nav.col-3-5 {
		float: right;	
	}
	
	#nav-right ul {
		margin: 0;
	}
	
	#product-callout-row, #connect ul {
		padding: 0;
	}
	
	#roasts div.row section.col-1-2:last-child img {
    	padding-bottom: 0;
	}
	
	#submit {
		float: left;
		margin: 0 0 20px 20px;
	}
	
	#connect div.col-1-2:last-child header {
		padding-left: 0;
	}
	
}

